.head{
    display:grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "k b"
    "c c"; 
    margin: 0 auto;
  }

  .info{
    grid-area: b;
    font-size: 6vh;
  }


.friend {
    grid-area: c;
    margin-top: 50px;
    font-size: 3vh;
}
.ava img{
    grid-area: k;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}