.user {
    padding-top: 20px;
}

.users{
    color: white;
    padding: 15px;
}


.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    ;
}

.selectedPage {
    color: rgb(29, 245, 0);
}